@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

article{
	page-break-after: always;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

[epub|type~="z3998:poem"] p,
[epub|type~="dedication"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:verse"],
[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="dedication"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="dedication"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] [epub|type~="z3998:introductory-note"]{
	text-align: center; /* overrides poem styling */
	margin-bottom: 2em; /* plus 1 from next header makes 3em */
}

[epub|type~="dedication"] p{
	text-align: center;
	font-variant: small-caps;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

p span.i3{
	text-indent: -1em;
	padding-left: 4em;
}

.excerpt{
	font-style: italic;
}

.signature{
	font-variant: small-caps;
}

[epub|type~="z3998:poem"] .explanation{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="z3998:poem"] > p.explanation{
	display: block;
	margin: 3em auto;
}

footer{
	margin-top: 1em;
	text-align: right;
}

p[epub|type~="z3998:dramatis-personae"]{
	text-align: center;
	font-variant: small-caps;
}

[epub|type~="z3998:stage-direction"],
[epub|type~="z3998:annotation"]{
	font-style: italic;
}

p[epub|type~="z3998:annotation"]{
	margin: 3em;
	text-align: center;
	text-indent: 0;
}

[epub|type~="z3998:persona"]{
	font-style: italic;
	font-weight: normal;
}

.speech-title [epub|type~="z3998:persona"]{
	font-style: normal;
	font-variant: small-caps;
}

[epub|type~="z3998:verse"] .speech-title,
[epub|type~="z3998:drama"] .speech-title{
	text-align: center;
}

[epub|type~="z3998:drama"] .speech-title + p{
	margin-top: 0;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
}

[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}
/* End all epigraphs */

/* Epigraphs in section headers */
article > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: left;
}

@supports(display: table){
	article > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in section headers */

[hidden]{
	display: none !important; /* Just in case the ereader doesn't understand hidden */
}
