@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

p span.i3{
	text-indent: -1em;
	padding-left: 4em;
}

.excerpt{
	font-style: italic;
}

.signature{
	font-variant: small-caps;
}

[epub|type~="z3998:dramatis-personae"]{
	text-align: center;
	font-variant: small-caps;
}

[epub|type~="z3998:stage-direction"]{
	font-style: italic;
}

p[epub|type~="z3998:stage-direction"]{
	text-align: center;
	text-indent: 0;
}

[epub|type~="z3998:persona"]{
	font-style:italic;
	font-weight: normal;
}

[epub|type~="z3998:dramatis-personae"] [epub|type~="z3998:persona"],
p[epub|type~="z3998:stage-direction"] [epub|type~="z3998:persona"]
{
	font-style: normal;
	font-variant: small-caps;
}

[epub|type~="z3998:sender"]{
	font-variant: small-caps;
	font-style: normal;
	text-align: right;
}
