@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.name{
	white-space: nowrap;
}

article{
	page-break-after: always;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

article > header{
	text-align: center;
}

[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	margin: 3em;
	margin-top: 0;
	text-align: left;
	text-indent: 0;
	display: inline-block;
}

[epub|type~="z3998:poem"] p,
[epub|type~="dedication"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:verse"],
[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="dedication"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="dedication"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] [epub|type~="z3998:introductory-note"]{
	text-align: center;
	font-variant: small-caps;
}

[epub|type~="dedication"] p{
	text-align: center;
	font-variant: small-caps;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

p span.i3{
	text-indent: -1em;
	padding-left: 4em;
}

.excerpt{
	font-style: italic;
}

.signature{
	font-variant: small-caps;
}

.inspiration{
	font-size: .75em;
}

.inspiration footer p{
	text-align: right;
	font-variant: small-caps;
}

.explanation{
	font-size: .75em;
	margin-top: 1em;
}

p[epub|type~="z3998:dramatis-personae"]{
	text-align: center;
	font-variant: small-caps;
}

[epub|type~="z3998:stage-direction"],
[epub|type~="z3998:annotation"]{
	font-style: italic;
}

p[epub|type~="z3998:annotation"]{
	text-align: center;
	text-indent: 0;
}

[epub|type~="z3998:persona"]{
	font-style:italic;
	font-weight: normal;
}

.speech-title [epub|type~="z3998:persona"]{
	font-style: normal;
	font-variant: small-caps;
}

[epub|type~="z3998:verse"] .speech-title,
[epub|type~="z3998:drama"] .speech-title{
	text-align: center;
}

[epub|type~="z3998:drama"] .speech-title + p{
	margin-top: 0;
}

/* reset for .koboSpan and others */
[epub|type~="z3998:poem"] [epub|type~="z3998:introductory-note"] > span,
[epub|type~="z3998:poem"] .speech-title > span,
[epub|type~="z3998:poem"] footer > p > span{
	display: inline;
	text-indent: 0;
	padding-left: 0;
}
